*{
    color: white;
    font-family:'Roboto';
    text-decoration: none;
    
}

body{ /* Criando a divisão do site */

    background-color:#141416;

    display:grid;
    height: 100vh;

    grid-template-rows: 60px 80px 1fr 50px;

    grid-template-areas: 
    "nav"
    "header"
    "main";

    gap: 80px;
}

nav{
    grid-area:nav;
}

header{grid-area:header;}

main{grid-area:main;}

#barra-navegacao{
    display: flex;
    position: relative;
    gap:33.33%;
    align-items: center;
    padding: 30px;
    margin: 10px;
    
    font-weight: bold;
    background-color: #1a1b1f;
    border:solid 1px #353945;
    
}

.container-icon-texto{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 100px;
}

.container-icon-texto img{
    width: 40px;
    height: 40px;
}

#user-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px grey;
}

#header{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 30px;
    margin: 10px;
}

main{
    display: flex;
    gap: 30px;
}

#container-geral{
    background-color:#1a1b1f;
    border:solid 3px #353945;

    height: 800px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    flex:1;
}

#container-graficos{
    flex:1;
    height: 70%;
    display: flex;
    position: relative;
    gap: 50px;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;

    width: 300px;
    height:500px;
    border: solid 1px lightgrey;
    flex: 3.33;
    padding: 10px;

}

.card canvas{
    flex: 7;
    height: 60% !important;
}

.card h2 {
    font-size: 14px;
}

.card h3{
    font-size: 18px;
    color: lightblue;
}

#container-complementar{
    flex:1;
    height: 30%;
    display: flex;
    position: relative;
    gap: 20px;

}

.card-complementar{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;

    width: 400px;
    height: 215px;
    border: solid 1px lightgrey;
    flex: 3.33;
    padding: 10px;
    overflow: hidden;
}

#cerebro-3d{
    width: 100%;
    height: 100%;
}

#status-olhos{
    font-size: 20px;
    color: lightblue;
}

.card-complementar button{
    width: 200px;
    height: 40px;
    background-color: rgb(6, 6, 161);
    border-radius: 5px;
}

.card:hover{
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 10px 25px rgba(255,255,255,0.4);
}

.card-complementar:hover{
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);

}

